package ${packageName}.service;

import java.util.List;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName}ServiceInterface
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service 
{
    /**
     * The query${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}The key.
     * @return ${functionName}
     */
    public ${ClassName} select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * The query${functionName}List of
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}The gathering
     */
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * Added${functionName}
     * 
     * @param ${className} ${functionName}
     * @return Results
     */
    public int insert${ClassName}(${ClassName} ${className});

    /**
     * Modified${functionName}
     * 
     * @param ${className} ${functionName}
     * @return Results
     */
    public int update${ClassName}(${ClassName} ${className});

    /**
     * Mass removal.${functionName}
     * 
     * @param ${pkColumn.javaField}s Need to be removed.${functionName}The main collection.
     * @return Results
     */
    public int delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);

    /**
     * removed${functionName}Information
     * 
     * @param ${pkColumn.javaField} ${functionName}The key.
     * @return Results
     */
    public int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});
}
