# Tell meEditorConfigAdditional，This is the root document.，Do not need to go up searching.
root = true

# match all documents.
[*]
# Set up characters.
charset = utf-8
# Reduce the style.，Optionalspace、tab
indent_style = space
# Reduced number of spaces.
indent_size = 2
# End of shift.，Optionallf、cr、crlf
end_of_line = lf
# Enter a new line at the end of the document.
insert_final_newline = true
# Remove the front-back spacecraft in one line.
trim_trailing_whitespace = true

# matchedmdThe final document.
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
