# IgnoredbuildUnder the catalogue arejsGrammar inspection of documents.
build/*.js
# Ignoredsrc/assetsGrammar checking of the document under the directory
src/assets
# IgnoredpublicGrammar checking of the document under the directory
public
# Ignoring the current catalogue.jsGrammar inspection of documents.
*.js
# Ignoring the current catalogue.vueGrammar inspection of documents.
*.vue