<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- The overall parameters. -->
    <settings>
        <!-- To enable or disable the cache. -->
        <setting name="cacheEnabled"             value="true"   />
        <!-- permittedJDBC Support Automatic Generation Key -->
        <setting name="useGeneratedKeys"         value="true"   />
        <!-- Configurate the default executor..SIMPLEIt is a normal executive.;REUSEThe executive will reuse the pre-working word.(prepared statements);BATCHThe executor will reuse the word and execute mass updates. -->
        <setting name="defaultExecutorType"      value="SIMPLE" />
		<!-- designated MyBatis Specific implementation of the logs used. -->
        <setting name="logImpl"                  value="SLF4J"  />
        <!-- Conversion of fields using the name method. -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/> -->
	</settings>
	
</configuration>
